h2{
 color:red;   
}
*{
 border:solid   
}
.header{
 background-color:#808080; 
display: flex; 
justify-content:flex-start;  
}
.content{
background-color:#808080;  
text-align:center;
}
.game{
background-color: #808080; 
display: flex;
justify-content: space-around;   
}
.game2{
 background-color: #808083;
 display: flex; 
 justify-content: space-around;  
}
.social{
background-color: #808080; 
display: flex;  
justify-content: space-around; 
}
body{
background-color:#808080 ;
}